$speed: 0.23s;

.header {
  position: relative;
  z-index: 100;
  background-color: transparent;
  padding: $space;
  height: $sm-nav-height;
}

h1.me {
  position: relative;
  display: inline-block;
  color: $grey;
  font-weight: 700;

  line-height: $sm-nav-height - $space*2;

  transition: color $speed ease-out;

  @media (min-width: $full-layout) {
    color: $grey;
    font-weight: 800;
    line-height: $space*2.5;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $grey-lighter;
    }
  }
}

.mobile-menu-toggle {
  display: block;
  position: relative;
  float: right;
  width: 22px;
  height: 24px;
  visibility: visible;
  opacity: 1.0;

  &:hover { cursor: pointer; }

  @media (min-width: $full-layout) {
    visibility: hidden;
    opacity: 0;
  }

  > span {
    position: absolute;
    display: block;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: $grey;

    transition: background-color $speed ease-out;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      top: -6px;
      left: 0;
      background-color: $grey;
      transform: rotate(0deg);

      transition: background-color $speed ease-out, top $speed ease-out, transform $speed ease-out;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      top: 6px;
      left: 0;
      background-color: $grey;
      transform: rotate(0deg);

      transition: background-color $speed ease-out, top $speed ease-out, transform $speed ease-out;
    }
  }
}


.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-height: 320px;
  z-index: 90;
  margin: 0;
  padding: 0;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-size: 16px;

  transition: opacity $speed ease-out, visibility 0s linear $speed;
  
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($grey, 0.95);
  }


  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    line-height: 28px;
    color: $grey-light;
  }
  a {
    position: relative;
    color: $grey-lightest;
    font-weight: 600;
  }
  > ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  > ul > li { margin-bottom: $space; }


  @media (min-width: $full-layout) {
    position: relative;
    height: auto;
    visibility: visible;
    opacity: 1;
    text-align: left;
    font-size: 11px;

    &:before { content: none; }

    ul {
      padding: 0 0 0 $space;
    }

    li { line-height: 20px; }
    
    a {
      display: inline-block;
      color: $grey;
      font-weight: 400;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 1px;
        background-color: $grey;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
      &:hover {
        &:after {
          opacity: 1.0;
        }
      }
    }

    > ul {
      top: auto;
      transform: translateY(0);
    }

    > ul > li { margin-bottom: 0; }
  }

}


// When the small screen menu is open...
body[data-mobile-menu="open"] {
  .content-container {  position: fixed; }
  .header {
    background-color: transparent;
    border-bottom: 0;
  }

  h1.me { color: $grey-lightest; }
  
  .mobile-menu-toggle >span {
    background-color: transparent;
    &:before {
      background-color: $grey-lightest;
      transform: rotate(45deg);
      top: 0px;
    }
    &:after {
      background-color: $grey-lightest;
      transform: rotate(-45deg);
      top: 0px;
    }
  }

  .nav {
    visibility: visible;
    opacity: 1.0;
    transition: opacity $speed ease-out;
  }
}