.section
  .col
    %h2 IMPRESS
    %p Digital Telepathy offers a quick turn-around, single-page service called IMPRESS. While working there, I was occassionally assigned as the developer on an IMPRESS team. While these projects could be quite a challenge given their fast timelines, I often took advantage of them as an opportunity to try something new with the code. Much of my exploration with task runners and various project structures came as a direct result of being a part of these projects. They also served as a great way to cut my teeth in building interactions. Links to a few of the IMPRESS projects on which I was the assigned developer can be found below.

.section.definition
  .col
    %h2 Takeaways
    .content
      %ul.takeaways
        %li
          %p.lead Staying in touch with the project
          %p.description Instead of jumping in at the end and writing the code, it was important to stay in communication with the rest of the team, throughout, to understand their challenges and help come up with solutions to set the project up for success by the time it got to being coded.

        %li
          %p.lead Trying something new
          %p.description Again, these projects often gifted me with an opportunity to test something new in the code. It was on one of these projects, in fact, that I first rolled my own static-site builder using Gulp.

        %li
          %p.lead Leaving the comfort zone
          %p.description The design team typically gave particularily challenging requests on these projects &mdash; everything from new interactions to specific responsive behavior. It was nerve-racking to start writing code without a clear idea of how something would be written, but always a rewarding learning opportunity.

.section
  .impress-examples.clearfix
    .third
      =link_to "https://www.phantom.us", target: "_blank" do
        = image_tag "impress/phantom-cyber.jpg"
        %span Phantom Cyber
    .third
      =link_to "http://flipplop.com", target: "_blank" do
        = image_tag "impress/flip-plop.jpg"
        %span FlipPlop
    .third
      =link_to "http://megalv.com", target: "_blank" do
        = image_tag "impress/mega-lv.jpg"
        %span Mega

  .col
    %p.caption *Phantom Cyber and Mega are now using the original single pages we created as their current homepages