---
title: "Infobip"
---

.section
  .col
    %h2 Infobip
    =image_tag "ib-logo.png", class: "ib-logo"
    %p While working at Digital Telepathy, I was one of the primary developers on the Infobip account team. We helped them with their customer-facing web app experience. Infobip had their own roster of developers that handled the integration of our work into their app. This allowed me to contribute in some traditionally uncommon ways, as well as writing code for their team to recycle.

.section.definition
  .col
    %h2 Some of my roles
    .content
      %ul.hats-i-wore
        %li
          %p.lead Styleguide manufacturer
          %p.description The first challenges our development team came upon was figuring out where the line between our developers and theirs would be. Working closely with a member from their team, I handled the initial architecture of a codebase on our end that gave us an area to describe the work from our visual designers in code. The code we wrote served as a reference point for their team when building the interfaces in the app. This also gave us an opportunity to assist our designers by identifying reusable components and promoting them to a living styleguide.

        %li
          %p.lead Design liaison
          %p.description One drawback we found with the living styleguide and a long-running project was that as design started to feel stale to our familiar eyes, making sweeping changes wasn't always a realistic option since we were responsible for keeping our codebase DRY, manageable, and free of technical debt. As a developer with an understanding of design intention, I frequently mediated conversations between our design team and our codebase &mdash; helping each understand what the other one wanted and expected.

        %li
          %p.lead Developer-strategist
          %p.description Before visual design or development of anything would begin, we embraced a wholistic team approach to UX and strategy. All team members were responsible for understanding the bigger problems we were trying to solve and bringing their unique perspective to the conversation. Regardless of the fact that my primary deliverable was code, I often found myself in front of a whiteboard, holding a marker, helping forge a path to a solution.

.section
  .col
    %p.caption *As it is not publicly available, I am unable to share examples of work I did on this project.
