---
title: "Pivotal"
---

.section
  .col
    %h2 Pivotal
    %p While at Digital Telepathy, I joined the Pivotal account team with a primary focus of helping translate and communicate our designers' intentions to Pivotal's front-end development team. Working closely with our designers, I developed prototypes of interactions in private CodePens. This allowed our designers to more easily communicate their ideas to Pivotal by showing them while talking through the designs. When it came time to implement, I documented each prototype with comments explaining the methods I was using and then shared with Pivotal's development team so they could have a running start.

.section
  .col
    =image_tag "pivotal-codepen.gif"
    %p.caption We liked to use assets and content that were as close to final as possible so prototypes could be shared with stakeholders, as well.
