---
title: "Then Be"
---

.section
  .col
    %h2 Then Be
    %p This is a small personal project of mine that I half-jokingly tell people will help solve all of their problems. Originally concepted and built early in 2010, at its debut it was added to <a href="http://www.notcot.org/post/37121/" target="_blank">NOTCOT</a> triggering a wave of over 16k visitors overnight. I found flirting with that (admittedly small) viral attention both infectious and inspiring.
    %p Recently, I completely rebuilt the project and moved it to GitHub pages. The single page is now generated via a lean, custom Gulp-based build system that mostly handles compilation of the assets. You can find the repo on GitHub: <a href="https://github.com/bknyn/then-be" target="_blank">Then Be</a>.


.section
  .then-be-examples.clearfix
    .half
      =image_tag "be-one.jpg"
    .half
      =image_tag "be-two.jpg"
  .col
    %p.caption You can find the live project at <a href="http://then-be.com" target="_blank">http://then-be.com</a>.