// File responsibilities:
// overall page flow + bg colors

// This file is .scss for more legible grid template areas

// Wrapping layout
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $default-padding;
  grid-template-areas:
    "hero"
    "specialities"
    "experience";

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr $logo-width-large repeat(2, auto) 1fr;
    grid-template-areas:
      ". hero hero hero ."
      ". . experience specialities .";
  }
}

// Hero section
.hero {
  padding-left: $default-padding;
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr $logo-width-small;
  grid-column-gap: $default-padding;
  grid-template-areas:
    "title title"
    "intro logo";

  @media (min-width: $screen-lg) {
    padding-left: 0;
    grid-template-columns: $logo-width-large 1fr;
    grid-template-areas:
      "logo title"
      "logo intro";
  }
}

.logo {
  grid-area: logo;
  padding: 0;
}

.title {
  grid-area: title;
  padding-top: $default-padding;
}

.intro {
  grid-area: intro;
}

// Standard sections
.standard-section {
  padding: $default-padding;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section-content";

  @media (min-width: $screen-med) {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". section-content .";
  }

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr;
    grid-template-areas: "section-content";
  }
}

.standard-section__inner {
  grid-area: section-content;

  @media (min-width: $screen-med) {
    max-width: 700px; // TEMP for testing
  }

  @media (min-width: $screen-lg) {
    max-width: 300px; // TEMP for testing
  }
}


.experience {
  grid-area: experience;
}

.specialities {
  grid-area: specialities;
  background-color: $alt-bg-color;

  @media (min-width: $screen-lg) {
    background-color: $bg-color;
  }
}
