---
title: "Contact"
---

.section
  .col
    %h2 Contact
    %p If you'd like to get in touch, please don't hesitate to send an email to <a href="mailto:b@bradleykenyon.com">b@bradleykenyon.com</a>.

    %p Alternatively, I can be found wandering around the social networks and services below. Feel free to reach out.
    %ul.social-links
      %li
        =link_to "https://github.com/bknyn", target: "_blank" do
          %i.icon-github-circled
      %li
        =link_to "https://www.linkedin.com/in/bradleykenyon", target: "_blank" do
          %i.icon-linkedin-rect
      %li
        =link_to "https://twitter.com/bpknyn", target: "_blank" do
          %i.icon-twitter
      %li
        =link_to "https://instagram.com/bknyn/", target: "_blank" do
          %i.icon-instagram