---
title: "About"
---

.section
  .col
    %p.intro
      %strong A front-end developer with a background in design and a penchant for simplifying user experiences.
      From designing point-perfect print pieces to developing cutting-edge user interfaces, I've had the fortune of experiencing wildly varied applications of design thinking. In recent years, I've found a passion for front-end development. Though my preferred work lives in a code editor, my experience allows me to contribute a unique outlook to discussions surrounding strategy and user experience.


.section.definition
  .col
    %h2 Experience
    .content
      %ul.experience
        %li
          %p.lead <strong>Freelance</strong> present
          %p.description Working independently. Producing full-stack design and development, UX and strategic consultation, and printed materials for client and personal projects.
        %li
          %p.lead <strong>Digital Telepathy</strong> Mar 2012 &ndash; Sept 2015
          %p.description Worked as a <em>front-end developer</em> at Digital Telepathy. Responsibilities included leading and producing front-end development, interpreting designs, and UX and strategic consultation for varied client accounts and internal websites and web app projects.
        %li
          %p.lead <strong>Riotlabel Design Group</strong> Mar 2009 &ndash; Sept 2009
          %p.description Co-founded Riotlabel Design Group and worked as a <em>front-end designer and developer</em>. Lead and produced front-end design and development for client websites.
        %li
          %p.lead <strong>Custom Web Apps</strong> Nov 2008 &ndash; Mar 2009
          %p.description Worked as a <em>front-end designer and developer</em> at Custom Web Apps. Designed, developed, and maintained front-end design and code for client websites.
        %li
          %p.lead <strong>Graphic Design, BS</strong> June 2008
          %p.description Studied Graphic Design at Pacific Union College


.section.definition
  .col
    %h2 Specialties
    .content
      %ul.specialties
        %li
          %p.lead Translating design
          %p.description Often serving as a liaison between design and the rest of the world, my background in design helps me foster communication between the two. I excel when working with designers and conveying the intent behind design thought.
        %li
          %p.lead Strategic thinking
          %p.description The story doesn't begin or end simply with writing code. Equally comfortable in front of a whiteboard or a keyboard, I'm especially adept at understanding the bigger objectives and concepting wholistic solutions.
        %li
          %p.lead Front-end architecture and development
          %p.description Before committing a single line, I have a knack for selecting the right suite of front-end technologies to meet today's goals and ease tomorrow's maintenance. And my comfort with those technologies allows me to handle everything from minor copy updates to creating custom parallax libraries.
        %li
          %p.lead Rampant curiosity
          %p.description As a friend of new ideas, I'm always excited to learn about and try a new language, tool, or way of thinking about a problem. This has also produced a broad spectrum of personal knowledge that I can draw from to help solve problems.


.section.definition
  .col
    %h2 Tools and Technologies
    .content
      %ul.skills
        %li
          %p.lead Markup and Styles
          %p.description While I'm completely comfortable writing vanilla <strong>HTML</strong> and <strong>CSS</strong>, I prefer using preprocessors to generate the expected output. In my experience, the differences between most of them are minimal, but my personal favorites are <strong>HAML</strong> for HTML and <strong>SCSS</strong> for CSS.
        %li
          %p.lead JavaScript
          %p.description Over the years, I've adopted the style of <strong>object-oriented programming</strong> for most <strong>JavaScript</strong> I write. I am very familiar with using <strong>jQuery</strong> to ease and expedite JS development. However, with the growth of <strong>Node.js</strong>, my appreciation and use of JavaScript has evolved considerably.

        %li
          %p.lead Front-end frameworks
          %p.description When it comes to styles and basic interaction, I'm well-versed in bending <strong>Bootstrap</strong> to the will of the design. Intrigued by many JS frameworks, I have a working knowledge of <strong>React</strong> and <strong>Angular</strong>.

        %li
          %p.lead Task Runners
          %p.description Anything that can be used for automation is a winner in my eyes. <strong>Gulp</strong> is my personal favorite of mine. Though not task runners officially, I love using dependency management tools like <strong>NPM</strong> and <strong>Bower</strong>. And as a Ruby-ist in my free time, I'm also familiar with <strong>Rake</strong>, <strong>Thor</strong>, and <strong>Bundler</strong>.

        %li
          %p.lead Static-site Generators
          %p.description Though their application isn't always the right answer, I like using static-site generators when applicable. A personal favorite of mine is the robust Ruby-based <strong>Middleman</strong>. Also, I enjoy rolling my own with Gulp to create <Strong>custom tailored build systems</strong>.

        %li
          %p.lead Back-end and other languages
          %p.description <strong>Ruby</strong> is my go-to non-front-end language. I often write and run .rb files for specialized tasks. I'm also comfortable with <strong>Rails</strong> and <strong>Sinatra</strong>. Though I haven't used it extensively, I'm comfortable with <strong>Python</strong>. Finally, I know my way around <strong>PHP</strong>, and, specifically, its use in <strong>WordPress</strong>.

        %li
          %p.lead Design tools
          %p.description I'm very comfortable in <strong>Adobe's Creative Cloud</strong> apps and tools for their wide variety of uses. Also, I'm familiar with <strong>InVision</strong> as a tool for communicating and prototyping.

        %li
          %p.lead Miscellaneous
          %p.description A few years ago, a colleague joked that I'd taken the "oath of the command line" when I ditched a GUI version control app. Turns out he was right as I routinely juggle a few <strong>command line prompts</strong> to manage my workflow. Speaking of version control, I'm most comfortable with <strong>Git</strong>. I'm also a big fan of <strong>GitHub</strong> and their suite of tools. When writing and reading code, <strong>Sublime Text</strong> is my editor of choice.
